misc

ffmpeg/ffmpeg
ffmpeg/ffmpeg_g
ffmpeg/ffserver
ffmpeg/ffserver_g
ffmpeg/config.*
mx_config.rb

*.[od]
*.pc

*.1

*.perspective

build
._*

.git.bak

*._*
*.swn
*.exe
*.tgz
*.gz
GPATH
tags
*swo
*.scc
*~
#*#
.#*
*.swp
